@import url(http://fonts.googleapis.com/css?family=Esteban|Lato);

#feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("/images/feed-icon-14x14.png") no-repeat 0 50%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F2DDBF;
}

#page {
  max-width: 70em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

:link {
	color: #50A3CC;
}

:visited {
	color: #285369;
}

#logo {
	font-family: 'Esteban', serif;
	font-weight: bold;
	font-size: x-large;
}
	
#policy {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: 'Esteban', serif;
  font-weight: 400;
  background-color: white;
  width: 98%;
  max-width: 50em;
  border-style: double;
}

#policy div {
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#sign-in {
	float:right;
	margin-top: 0em;
}

#nav {
	float:left;
	margin-top: 0em;
}

#messages {
	float:left;
	clear: left;
}

#content {
	float: left;
	clear: both;
	width: 100%;
}

#footer {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10em;
	margin-bottom: 1em;
	font-size: x-small;
}

#footer > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#footer > ul > li {
	display: inline;
	padding: 0;
	margin: 0;
}

#footer > ul > li:before {
	content: "| ";
}

#footer > ul > li:first-child:before {
	content: "";
}

table {
	border-collapse: collapse;
	border-style: double;
}

td {
	border-style: solid;
	border-width: thin;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

th {
	border-style: solid;
	border-width: thin;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

fieldset {
	border-style: double;
}

