{% extends "base.html" %}

{% block title %} &gt; Not Authorized{% endblock %}

{% block nav %}Not Authorized{% endblock %}

{% block content%}
  <div class="full-section">
    <p>
      You need to be signed in to do that.
    </p>
  </div>
{% endblock %}
