{% extends "base.html" %}

{% block title %} &gt; Not Found{% endblock %}

{% block nav %}Not Found{% endblock %}

{% block content%}
  <div class="full-section">
    <p>
    I'm afraid that page can't be found. {{ message }}
    </p>
  </div>
{% endblock %}
