{% extends "base.html" %}

{% block style %}
  fieldset {
    border-style: none;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: 1em;
  }
{% endblock %}

{% block title %} &gt; Policy: {{ policy.title }}{% endblock %}

{% block nav %}
  <a href="/view_policy?policy_key={{ policy.key() }}">Policy: {{ policy.title }}</a>
  &gt; Create New Version
{% endblock %}

{% block content %}
  {% if current_editor %}
    <form action="/add_policy_version" method="post">
      <fieldset>
        <input type="hidden" name="policy_key" value="{{ policy.key() }}">
        <label>Title
          <input name="title"
              value="{% if request.POST.title %}{{ request.POST.title }}{% else %}{{ policy.title }}{% endif %}" >
        </label><br />
        <br />
        <textarea name="content" rows="20" cols="100">
          {%- if request.POST.content -%}
            {{ request.POST.content }}
          {%- else -%}
            {{ policy.content }}
          {%- endif -%}
        </textarea>
        <br />
        <br />
        <label>Tags
          <input name="tags"
            value="
              {%- if request.POST.tags -%}
                {{ request.POST.tags }}
              {%- else -%}
                {%- for tag in policy.tags %}{{ tag }} {% endfor -%}
              {%- endif -%}" >
        </label><br />
        <br />
        <input type="submit" value="Create">
        <input type="submit" name="preview" value="Preview">
      </fieldset>
    </form>
    
    {% if request.POST.preview %}    
      <h2>Preview</h2>

      <div id="policy">
        <div>
          {{preview}}
        </div>
      </div>
    {% endif %}

    <p>
      <a href="http://wikicreole.org/wiki/Creole1.0">Creole</a>
      markup is used for formatting. Here's a quick guide:
    </p>
    <dl>
      <dt>Paragraphs</dt>
      <dd>
        are created by simply typing the text. To separate paragraphs, just
        leave an empty line between them. Line ends will be preserved inside
        paragraphs. You can use <code>\\</code> to force a line break almost
        anywhere.
      </dd>
      <dt>Emphasis</dt>
      <dd>
        can be marked <code>//like this//</code> or <code>**like this**</code>,
        to produce <em>emphasised</em> or <strong>strongly emphasised</strong>
        text.
      </dd>
      <dt>Links</dt>
      <dd>
        like <code>[[http://wikicreole.org|WikiCreole]]</code> will display as
        <a href="http://wikicreole.org">WikiCreole</a>.
      </dd>
      <dt>No markup</dt>
      <dd>
        is applied if you type text
        <code>{{ '{{' }}{like this{{ '}}' }}}</code>,
        or —  when you need several lines — like this:
        <pre>
{{ '{{' }}{
line 1
line 2
line 3
{{ '}}' }}}</pre>
      </dd>
      <dt>Headings</dt>
      <dd>
        are created like this:
        <pre>
== Section heading ==
=== Subsection heading ===
==== Subsubsection heading ====</pre>
      </dd>
      <dt>Bullet lists</td>
      <dd>
        are created like this:
        <pre>
* first item
* second item
** first subitem of second item
* third item</pre>
      </dd>
      <dt>Numbered lists</dt>
      <dd>
        are made like this:
        <pre>
# first item
# second item
## first subitem of second item
# third item</pre>
      <dt>Tables</dt>
      <dd>
        can be made easily:
        <pre>
| first row first column | first row second column |
| second row first column | second row second column |</pre>
      </dd>
      <dt>Horizontal lines</dt>
      <dd>
        like this one
        <hr />
        can be used to separate parts of text, you just need to type:
        <pre>
----</pre>
      </dd>
    </dl>
  {% else %}
    <p>
      Please
      <a href="/sign_in?return_to=/add_policy_version?policy_key={{ policy.key() }}">Sign In</a>
      to create a new version.
    </p>
  {% endif %}
{% endblock %}
