<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
      <style>
        {% block style %}
        {% endblock %}
      </style>
      <title>
        Polifesto
        {% block title %}
        {% endblock %}
      </title>
    {% endblock %}
  </head>
  <body>
    <div id="page">
      <p id="nav">
      {% block logo %}<a id="logo" href="/">Polifesto</a> &gt;{% endblock %}
      {% block nav %}{% endblock %}
      </p>


      {% block login %}
        <p id="sign-in">
          {% if user %}
            {% if current_editor %}
              <a href="/view_editor?editor_key={{ current_editor.key() }}">{{ current_editor.name }}</a> |
              <a href="{{logout_url}}">Sign Out</a>
            {% else %}
              <a href="/welcome">Welcome</a>
            {% endif %}
          {% else %}
            <a href="{{login_url}}">Sign in</a>
          {% endif %}
        </p>
      {% endblock %}

      {% if messages or flashes %}
        <ul id="messages">
          {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
          {% endfor %}
          {% for message in flashes %}
            <li><strong>{{ message[0] }}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}

      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">
        <ul>
          <li>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_GB">
              <img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
          </li>
          <li>
            <a href="https://bitbucket.org/tlocke/polifesto/issues">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
