{% extends "base.html" %}

{% block title %}Editor: {{ editor.name }} &gt; Edit{% endblock %}

{% block style %}
  /*form {
    float: left;
    clear: both;
    }*/

  #content {
    float: left;
  }
{% endblock %}

{% block nav %}
  <a href="/view_editor?editor_key={{ editor.key() }}">Editor: {{ editor.name }}</a> &gt;
  Edit
{% endblock %}

{% block content %}
  {% if request.GET.confirm_remove_email %}
    <p>
      Are you sure you want to remove the email address
      '{{ request.GET.email }}'?
    </p>

    <form action="/edit_editor" method="post">
      <fieldset>
        <input type="hidden" name="editor_key()" value="{{ editor.key() }}">
        <input type="hidden" name="email" value="{{ request.GET.email }}">
        <a href="view_editor?editor_key={{ editor.key() }}">Cancel</a>
        <input type="submit" name="remove_email" value="Delete">
      </fieldset>
    </form>
  
  {% else %}

    <form action="/edit_editor" method="post">
      <fieldset>
        <legend>Update Editor</legend>
        <input type="hidden" name="editor_key" value="{{ editor.key() }}">
        <br>
        <label>
          Name <input name="name" value="{% if request.GET.name %}{{ request.GET.name }}{% else %}{{ editor.name }}{% endif %}">
        </label>
        <br>
        <br>
        <input type="submit" name="update" value="Update">
      </fieldset>
    </form>
    <br/>
    <table><caption>Email Addresses</caption>
      {% for email in editor.emails %}
        <tr>
          <td>{{ email }}</td>
          {% if editor.emails|length > 1 %}
            <td>
              <form action="/edit_editor">
                <fieldset>
                  <input type="hidden" name="editor_key"
                      value="{{ editor.key() }}">
                  <input type="hidden" name="email" value="{{ email }}">
                  <input type="submit" name="confirm_remove_email"
                      value="Delete">
                </fieldset>
              </form>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    <br>
    <form action="/edit_editor" method="post">
      <fieldset>
        <legend>Propose An Email Address To Add To The List</legend>
        <input type="hidden" name="editor_key" value="{{ editor.key() }}">
        <br>
        <label>
          Email Address
          <input name="proposed_email" value="
            {%- if request.POST.proposed_email -%}
              {{ request.POST.proposed_email }}
            {%- else -%}
              {{ editor.proposed_email }}
            {%- endif -%}
          ">
        </label>
        <input type="submit" name="propose_email" value="Propose">
      </fieldset>
    </form>
  {% endif %}
{% endblock %}
