{% extends "base.html" %}

{% block logo %}<span id="logo">Polifesto</span>{% endblock %}

{% block style %}
  #add-policy {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: center;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    }

  .full-section {
    float: left;
    width: 100%;
    margin-bottom: 1em;
  }

  .half-section {
    float: left;
    width: 50%;
    min-width: 20em;
    }

  .inner-section {
    margin-right: 0.5em; 
    margin-left: 0.5em; 
  }
{% endblock %}

{% block content%}
  <div class="full-section">
    <p>
      Welcome to Polifesto, the wiki of political manifestos. We suggest you
      start by browsing the table of the most popular manifestos and then
      {% if not current_editor %}sign in to{% endif %} rate the policies.
      If you think the policies can be improved you can edit them, or create new
      policies. Policies can be tagged, and the special tag 'manifesto' says
      that a policy is a manifesto.
    </p>
  </div>
  
  <div class="half-section">
    <div class="inner-section">
      <table id="policies"> 
        <caption>Policies</caption>
        <thead>
          <tr>
            <th>Title</th>
            <th>Rating</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          {% for policy in policies %}
            <tr>
              <td style="">
                <a href="/view_policy?policy_key={{ policy.key() }}">{{ policy.title }}</a>
              </td>
              <td style="text-align: right;">{{ policy.rating }}</td>
              <td>{% for tag in policy.tags %}{{ tag }} {% endfor %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if current_editor %}
        <p id="add-policy"><a href="/add_policy">Create a new policy</a></p>
      {% endif %}
    </div>
  </div>
  <div class="half-section">
    <div class="inner-section">
      <table>
        <caption>Latest Policy Versions</caption>
        <thead>
          <tr>
            <th>Time Stamp</th>
            <th>Title</th>
            <th>Editor</th>
          </tr>
        </thead>
        <tbody>
          {% for version in latest_versions %}
            <tr>
              <td>{{ version.creation_date.strftime("%Y-%m-%d %H:%M") }}</td>
              <td>
                <a href="/view_policy?policy_key={{version.policy.key()}}">{{ version.policy.title }}</a>
              </td>
              <td>
                <a href="/view_editor?editor_key={{version.editor.key()}}">{{ version.editor.name }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <table>
        <caption>Latest Comments</caption>
        <thead>
          <tr>
            <th>Time Stamp</th>
            <th>Policy Title</th>
            <th>Editor</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in latest_comments %}
            <tr>
              <td>{{ comment.timestamp.strftime("%Y-%m-%d %H:%M") }}</td>
              <td>
                <a href="/view_policy?policy_key={{comment.policy.key()}}">{{ comment.policy.title }}</a>
              </td>
              <td>
                <a href="/view_editor?editor_key={{comment.editor.key()}}">{{ comment.editor.name }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <table>
        <caption>Latest Ratings</caption>
        <thead>
          <tr>
            <th>Time Stamp</th>
            <th>Policy Title</th>
            <th>Editor</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for rating in latest_ratings %}
            <tr>
              <td>
                {{ rating.rating_last_modified.strftime("%Y-%m-%d %H:%M") }}
              </td>
              <td>
                <a href="/view_policy?policy_key={{rating.policy.key()}}">{{ rating.policy.title }}</a>
              </td>
              <td>
                <a href="/view_editor?editor_key={{rating.editor.key()}}">{{ rating.editor.name }}</a>
              </td>
              <td>{{ rating.rating }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
