{% extends "base.html" %}

{% block title %}&gt; Sign In{% endblock %}

{% block nav %}Sign In{% endblock %}

{% block login %}{% endblock %}

{% block content %}
<div style="float: left; margin-right: 5em;">
    <p>Click on one of the icons below to sign in:</p>
    <ul style="list-style: none;">
      {% for provider in providers %}
        <li style="margin-top: 0.5em;">
          <a href="{{ provider.url }}" style="color: inherit; text-decoration: inherit;"><img style="width: 32px; height: 32px; vertical-align: middle;" src="/images/sign_in/{{ provider.img_name }}_32.png"> {{ provider.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div style="float: right;">
    <p>Or type your OpenId here:</p>

    <form action="/sign_in">
      <input name="openid_identifier" value="" style="background-image: url('/images/sign_in/openid-16x16.gif'); background-repeat: no-repeat; padding-left: 18px;">
      <input type="submit" value="Sign In">
    </form>
  </div>    
{% endblock %}
