{% extends "base.html" %}

{% block nav %}<a href="/">Polifesto</a> &gt; Editors{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Polifesto Id</th>
      <th>OpenId Identifier</th>
    </tr>
  </thead>
  <tbody>
    {% for editor in editors %}
    <tr>
      <td>
        <a href="/view_editor?editor_key={{ editor.key() }}">{{ editor.name }}</a>
      </td>
      <td>
        <ul>
          {% for oid in editor.openids %}
          <li>{{ oid }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
