{% extends "base.html" %}

{% block title %} &gt; Policies{% endblock %}

{% block nav %} &gt; Policies{% endblock %}

{% block content %}
  <form action="/view_policies">
    <fieldset><legend>Search by tag</legend>
      <label>
        Tag Name <input name="tag_name" value="{{ request.GET['tag_name']}}"/>
      </label>
    <input type="submit" value="Search"/>
    </fieldset>
  </form>
  <br/>
  {% if policies %}
    <table><caption>Results</caption>
      <thead>
        <tr><th>Policy</th><th>Rating</th></tr>
      </thead>
      {% for policy in policies %}
        <tr>
          <td>
            <a href="/view_policy?policy_key={{ policy.key() }}">{{policy.get_latest_version().title}}</a>
          </td>
          <td>
            {{policy.rating}}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No Results</p>
  {% endif %}
  <br/><br/>
  {% if current_editor %}
    <p><a href="/add_policy">Create a new policy</a></p>    
  {% else %}
    <p>
      Please sign in to create a new policy.
    </p>
  {% endif %}
{% endblock %}
