{% extends "base.html" %}

{% block style %}
#policy {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: 'Esteban', serif;
  font-weight: 400;
  background-color: white;
  width: 98%;
  max-width: 50em;
  border-style: double;
}

#policy div {
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  }

#policy h2 {
  text-align: center;
}

#add_comment {
  border-style: solid;
  border-width: thin;
  border-color: white;
  margin-bottom: 1em;
  }

#rating_form {
  border-style: solid;
  border-width: thin;
  border-color: white;
  }

#notification_form {
  border-style: solid;
  border-width: thin;
  border-color: white;
  }

fieldset {
  border-style: none;
}

#comment {
  border-style: solid;
  border-width: thin;
  border-color: white;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 1em;
}

#left-column {
  float: left;
  width: 50%;
}
{% endblock %}

{% block title %} &gt; Policy: {{ policy.title }}{% endblock %}

{% block nav %}Policy: {{ policy.title }}{% endblock %}

{% block content %}
  <div id="policy">
    <h2>{{ policy.title}}</h2>
    <div>{{ policy.content_as_html()}}</div>
    <div>Tags:
      {% for tag in policy.tags -%}
        <a href="/view_policies?tag_name={{ tag }}">{{ tag }}</a> {% endfor %}
    </div>
    <div>Total Rating: {{policy.rating}}</div>
  </div>
  <div id="left-column">
    <h3>Comments</h3>

    {% if current_editor %}
      <form id="add_comment" action="/view_policy" method="post">
        <fieldset>
          <legend>Add A Comment</legend>
          <input type="hidden" name="policy_key" value="{{ policy.key() }}"/>
          <textarea name="comment" cols="60" rows="5"></textarea>
          <br>
          <input type="submit" value="Add Comment">
        </fieldset>
      </form>
    {% else %}
      <p>Sign in to add a comment.</p>
    {% endif %}
    {% for comment in comments %}
      <div id="comment">
          <a href="/view_editor?editor_key={{ comment.editor.key() }}">{{comment.editor.name}}</a>
          {{ comment.timestamp.strftime("%Y-%m-%d %H:%M") }}<br>
          {{ comment.comment_as_html() }}
      </div>
    {% endfor %}
  </div>
  <div style="float: right;">
    {% if current_editor %}
      <form id="rating_form" action="/view_policy" method="post">
        <fieldset><legend>My Rating For This Policy</legend>
          <input type="hidden" name="policy_key" value="{{ policy.key() }}"/>
          {% for rating in range(0, 101, 20) %}
            <label>{{ rating }}
              <input type="radio" name="rating" value="{{ rating }}"
                {% if 'rating' in request.POST %}
                  {% if request.POST.rating|int == rating %}
                    checked
                    {% endif %}
                {% else %}
                  {% if editor_policy %}
                    {% if editor_policy.rating == rating %}
                      checked
                    {% endif %}
                  {% elif rating == 0 %}
                    checked
                  {% endif %}
                {% endif %}
              />
            </label>
          {% endfor %}
          <input type="submit" value="Rate" />
        </fieldset>
      </form>
    {% else %}
      <p>
        Please sign in to rate this policy, or to create a new version.
      </p>
    {% endif %}
    <ul style="">
      {% if current_editor %}
        <li>
          <a href="/add_policy_version?policy_key={{ policy.key() }}">Create a new version of this policy</a>
        </li>
      {% endif %}
      <li>
        <a href="/view_policy_versions?policy_key={{ policy.key() }}">Version history</a>
      </li>
      <li>
        <a href="/policy_feed?policy_key={{ policy.key() }}" id="feed">Web feed</a>
      </li>
      {% if current_editor %}
        <li><a href="/add_policy">Create a new policy</a></li>
      {% endif %}
    </ul>
    {% if current_editor %}
      <form id="notification_form" action="/view_policy" method="post">
        <fieldset><legend>My Notifications For This Policy</legend>
          <input type="hidden" name="policy_key" value="{{ policy.key() }}">
          <label>Email me with any changes</label>
          <input type="checkbox" name="email_changes" value="True"
            {% if 'email_changes' in request.POST %}
              checked
            {% else %}
              {% if editor_policy and editor_policy.email_changes %}
                checked
              {% endif %}
            {% endif %}
          >
          <input type="submit" name="notification" value="Update">
        </fieldset>
      </form>
    {% else %}
      <p>
        Sign in to set up an email notification for changes to this policy.
      </p>
    {% endif %}
  </div>
{% endblock %}
