{% extends "base.html" %}

{% block title %}
  &gt; Policy: {{ policy.title }} &gt; Version History
{% endblock %}

{% block nav %}
  <a href="/view_policy?policy_key={{ policy.key() }}">Policy: {{ policy.title }}</a>
  &gt; Version History
{% endblock %}

{% block content %}
  <br>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creation Date</th>
        <th>Editor</th>
      </tr>
    </thead>
    <tbody>
      {% for version in versions %}
        <tr>
          <td>
            <a href="/view_policy_version?policy_version_key={{ version.key() }}">{{ version.title }}</a>
          </td>
          <td>{{ version.creation_date.strftime("%Y-%m-%d %H:%M Z") }}</td>
          <td>
            <a href="/view_editor?editor_key={{ version.editor.key() }}">{{version.editor.name }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
