{% extends "base.html" %}

{% block title %}Policy: {{ policy.title }} &g; Version History &gt;
  &gt; {{ policy_version.creation_date.strftime("%Y-%m-%d %H:%M Z") }}
  
  {%if latest_policy_version.key() == policy_version.key() %}
    (Latest Version)
  {% endif %}
{% endblock %}

{% block nav %}
  <a href="/view_policy?policy_key={{ policy.key() }}">Policy: {{ policy.title }}</a>
  &gt;
  <a href="/view_policy_versions?policy_key={{ policy.key() }}">Version History</a>
  &gt; {{ policy_version.creation_date.strftime("%Y-%m-%d %H:%M Z") }}
  
  {%if latest_policy_version.key() == policy_version.key() %}
    (Latest Version)
  {% endif %}
{% endblock %}

{% block content %}
  <h2>{{ policy_version.title }}</h2>

  <div>{{ policy_version.content_as_html() }}</div>
  <br />
  <p>
    Tags:
    {% for tag in policy_version.tags %}{{ tag }} {% endfor %}
    </p>

  <h2>Raw Markup</h2>

  <pre style="white-space: pre-wrap;">{{ policy_version.content }}</pre>
{% endblock %}
