{% extends "base.html" %}

{% block title %} &gt; {{ editor.name }}{% endblock %}

{% block nav %}{{ editor.name }}{% endblock %}

{% block login %}
  <p id="sign-in">
    {% if user %}
      {% if current_editor %}
        {% if current_editor.key() != editor.key() %}
          <a href="/view_editor?editor_key={{ current_editor.key() }}">{{ current_editor.name }}</a> |
        {% endif %}
        <a href="{{logout_url}}">Sign Out</a>
      {% else %}
        <a href="/welcome">Welcome</a>
      {% endif %}
    {% else %}
      <a href="{{login_url}}">Sign In</a>
    {% endif %}
  </p>
{% endblock %}

{% block content %}
  <table style="margin-top: 2em;">
    <tr>
      <th>Name</th>
      <td>{{ editor.name }}</td>
    </tr>
    {% if current_editor and current_editor.key() == editor.key() %}
      <tr>
        <th>Email Addresses</th>
        <td>
          <ul>
            {% for email in editor.emails %}
              <li>{{ email }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endif %}
  </table>

  {% if current_editor and current_editor.key() == editor.key() %}
    <ul>
      <li>
        <a href="/edit_editor">Update</a>
      </li>
    </ul>
  {% endif %}

  <table style="margin-top: 3em;">
    <caption>Ratings</caption>
    <thead>
      <tr>
        <th>Policy</th>
        <th>Rating</th>
      </tr>
    </thead>
    {% for editor_rating in editor_ratings %}
      <tr>
        <td><a href="/view_policy?policy_key={{ editor_rating.policy.key() }}">{{editor_rating.policy.title}}</a></td>
        <td>{{ editor_rating.rating }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
