{% extends "base.html" %}

{% block title %}Polifesto &gt; Welcome{% endblock %}

{% block nav %}Welcome{% endblock %}

{% block login %}
  <p id="sign-in">
    {% if user %}
      <a href="{{logout_url}}">Sign Out</a>
    {% else %}
      <a href="{{login_url}}">Sign in</a>
    {% endif %}
  </p>
{% endblock %}

{% block content %}
  {% if user %}
    {% if proposed_editors %}
      <p>
        Welcome to Polifesto. You're signed in with the email address
        {{ user.email() }}. From here you can associate this email address
        with an existing account or you can create a new account.
      </p>
		
      <br/>
      <table><caption>Existing Accounts</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email Addresses</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for proposed_editor in proposed_editors %}
            <tr>
              <td>{{ proposed_editor.name }}</td>
              <td>
                <ul>
                  {% for email in proposed_editor.emails %}
                    <li>{{ email }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <form action="/welcome" method="post">
                  <fieldset style="border: none;">
                    <input type="hidden" name="editor_key"
                        value="{{ proposed_editor.key() }}">
                    <input type="submit" name="associate" value="Associate">
                  </fieldset>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>Or create a new account:</p>
      <form action="/welcome" method="post" style="float: left;">
        <fieldset style="border: none;">
          <label>Name <input name="name" value=""></label> 
          <input type="submit" value="Create Account">
        </fieldset>
      </form>
    {% else %}
      <p>
        Welcome to Polifesto. You're signed in with the email address
        {{ user.email() }}. The next step is to create an account...
      </p>
      <br>
      <form action="/add_editor" method="post">
        <fieldset style="text-align: center; border: none;">
          <label>Name <input name="name"></label>
          <input type="submit" value="Create Account">
        </fieldset>
      </form>
    {% endif %}
  {% else %}
    <p>
      It looks like you tried to sign in but it didn't work for some reason.
      You could try signing in again.
    </p>
  {% endif %}
{% endblock %}
